{% extends 'article.html' %}

{% block flickr %}



<img src="{{photo.sizes.large.source}}" style="height: 100%;width: 100%;"/>
<p style="padding-left: 50%">
  {% if 'original' in photo.sizes %}
  <a href="{{ photo.sizes.original.source }}"><i class="fa fa-download fa-3x"></i></a>
 
  {% else %}
  No original available.
  {% endif %}  
  <a href="{{ photo.urls.photopage }}" ><i class="fa fa-flickr fa-3x"></i></a>
  <p>Thanks to use my photos for personal use only. Please, respect the creative common licence - Attribution - Pas d’Utilisation Commerciale - Pas de Modification</p>
  <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"<i class="fa fa-cc fa-3x"></i></a>
</p>
<hr style="clear:both;"/>
{% if photo_next %}
<p style="float: right;">
  <a href="{{ photo_next.url }}">
    <img src="{{ photo_next.sizes['square'].source }}" /> 
  </a>
</p>
{% endif %}
{% if photo_previous %}
<p style="float: left;">
  <a href="{{ photo_previous.url }}">
    <img src="{{ photo_previous.sizes['square'].source }}" />
  </a>
</p>
{% endif %}
<hr style="clear:both;"/>
<p>
  <hr style="clear:both;"/>
  Back to theme <a href="{{photoset.url}}">{{ photoset.title }}</a>
  <hr style="clear:both;"/>
</p>

{% endblock %}
